[Unit]
Description="Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target

[Service]
User=consul
Group=consul
EnvironmentFile=/etc/sysconfig/consul
ExecStart=/usr/sbin/consul agent -config-dir ${CONSUL_CONFIG_DIR} ${CONSUL_OPTS}
ExecReload=/usr/sbin/consul reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
